<launch>

    <node pkg="rviz" type="rviz" name="point_visualizer" args="-d $(find helm_test)/rviz/my_rviz1.rviz">
        <remap from="preprocessed" to="map_test"/>
    </node>

    <!--This bag file contains 469 clouds-->
    <node pkg="rosbag" type="play" name="player" args="$(find helm_test)/bag/static_helm.bag"/>

    <node pkg="my_fine_map" type = "fine_map" name = "fine_map" output = "screen"/>

</launch>